:root {
    --primary-color: #69589c;
    --secondary-color: #e0dedf;
    --primary-ff: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
}


html {
    font-family: var(--primary-ff);
}


body {
    background-color: azure;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer_container {
    position: relative;
    width: 750px;
    min-height: 600px;
    padding: 2rem;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.digits {
    display: flex;
    justify-content: center;
    align-items: center;
}

.digits span {
    font-size: 2rem;
    font-weight: 600;
}

.options {
    position: absolute;
    top: 3.5rem;
}

.options ul {
    display: inline-flex;
    gap: 5rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.control {
    display: flex;
    gap: 2rem;
}

.control span {
    font-size: 1rem;
    margin-left: 1rem;
    font-weight: 800;
}

.song {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.song__title {
    font-size: 1.2rem;
    margin: 0;
    font-weight: normal;
}

input[type="number"] {
    border: 0;
    background: none;
    text-align: center;
    max-width: 5rem;
    font-size: 2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 200px;
    border: solid 3px var(--primary-color);
    aspect-ratio: 1;
    border-radius: 50% 50%;
}

.timer__increase-time,
.timer__decrease-time {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
}

.control {
    position: absolute;
    bottom: 3.5rem;
}


.control__stop,
.control__reload {
    width: 4rem;
    height: 4rem;
    border: solid 2px var(--primary-color);
    display: flex !important;
    justify-content: center;
    align-items: center;
    border-radius: 50% 50%;
    color: var(--primary-color);
    ;
}

.control__play-pause {
    width: 10rem;
    height: 4rem;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    color: white;
}

.control__play {
    background-color: var(--primary-color);
    border: solid 2px var(--primary-color);
}

.control__pause {
    background-color: #53467b;
    border: solid 2px #53467b;
}

.bell-options ul {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.bell-options li {
    list-style: none;
    font-size: 1.2rem;
}

input[type='radio'] {
    margin-right: 1rem;
}

.bell-options ul {
    padding: 0;
}

.playlist {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.playlist__tracks {
    display: grid;
    width: 85%;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.playlist__tracks div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.track__img {
    width: 125px;
    height: 125px;
    border: 4px solid transparent;
    border-radius: 50% 50%;
}

.track__img:hover {
    border: solid 4px #53467b;
}

.track__img--active {
    border: solid 4px #53467b;
}

.track__title {
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: 0rem;
}