:root {
    --primary-color: #69589c;
    --secondary-color: #e0dedf;
    --primary-ff: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
}


html {
    font-family: var(--primary-ff);
}


body {
    background-color: azure;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer_container {
    position: relative;
    min-width: 750px;
    min-height: 720px;
    background-color: white;
    padding: 10rem 10rem 4rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.6rem;
}

.digits {
    display: flex;
    justify-content: center;
    align-items: center;
}

.digits span {
    font-size: 2rem;
    font-weight: 600;
}

.options {
    position: absolute;
    top: 1.8rem;
}

.options ul {
    display: inline-flex;
    gap: 5rem;
    list-style: none;
    padding: 0;
}

.control {
    padding: 1.5rem;
    display: flex;
    gap: 2rem;
}

.control span {
    font-size: 1rem;
    margin-left: 1rem;
    font-weight: 800;
}

.music {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

input[type="number"] {
    border: 0;
    background: none;
    text-align: center;
    max-width: 5rem;
    font-size: 2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 3px var(--primary-color);
    aspect-ratio: 1;
    border-radius: 50% 50%;
}

.timer__level_up,
.timer__level_down {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
}


.control__stop,
.control__reload {
    width: 5rem;
    height: 5rem;
    border: solid 2px var(--primary-color);
    display: flex !important;
    justify-content: center;
    align-items: center;
    border-radius: 50% 50%;
    color: var(--primary-color);
    ;
}

.control__play-pause {
    width: 10rem;
    height: 5rem;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    color: white;
}

.control__play {
    background-color: var(--primary-color);
    border: solid 2px var(--primary-color);
}

.control__pause {
    background-color: #53467b;
    border: solid 2px #53467b;
}

.bell-options li {
    list-style: none;
    font-size: 1.2rem;
    margin-bottom: .8rem;
}

.bell-options ul {
    padding: 0;
    ;
}